[2014-04-18 08:50] defrag opened #5 "Make quotes for placeholder not mandatory in json"
Currenlty in json we have to do like:

[code]

We should make it possible to use like:

[code]

[2014-04-18 10:07] #5 closed, assigned to nobody

[2014-05-29 08:20] pskt opened #13 "Matching empty array always return true"
Hi

I'm using php-matcher to match some JSONs and I found an issue.
If in `$value` will be empty array php-matcher always return true.

For example, as `$value` I have

[code]

And as `$pattern`

[code]

And matcher return true.

[2014-06-01 08:32] #13 closed, assigned to nobody

[2014-06-22 15:48] norberttech opened #21 "[RFC] Pattern expanders"
In most cases patterns are enough to create our expectations against value but sometimes there is a need to check something more. For example if we want to check if integer is lower than X or if array contain specific key/value.
Of course there is a expression pattern which is very elastic but it also make our patterns big, less readable and sometimes hard to understand.
I believe it would be nice

[2014-10-18 15:07] #21 closed, assigned to nobody

[2014-10-18 15:08] norzechowicz opened #32 "Add PatternBuilder in order to simply building patterns directly from code."
There could be some kind of Builder mechanism that will allow us to build patterns using php objects that would be casted into string before matching.

[2014-10-20 13:39] falkolab opened #33 "null or any value match"
How to match field that can be null or not null?

[2014-10-20 14:31] #33 closed, assigned to nobody

[2014-10-31 16:10] piotrjura opened #34 "How to match dates and emails?"
How can I match dates and e-mails in JSON responses?

[2014-11-02 18:27] piotrjura opened #35 "Multiple elements JSON matching"
Given I have a JSON response witch returns an array of 10 elements, like:

[code]

I'd like to point somehow that there's one unique pattern which should be matched 10 times in JSON response, becouse array has 10 items. Are you thinking about such feature?

[2014-11-04 10:17] #34 closed, assigned to nobody

[2014-12-03 12:19] javierseixas opened #39 "Match specific fields in a JSON (ignoring the others)"
Hello! Given a JSON like this:

[code]

I would like to check that `title` equals to "My Title", but I don't care about the other fields. There is any way to ignore them?
I want to do that because the structure of the expected JSON is already tested before, so if I could write something like following would make my features cleaner and focused on what I'm testing each scenario.

What I'm figuring

[2014-12-13 10:17] eddiejaoude opened #43 "How to integrate with Behat v3?"
Is there an example of integrating this library with Behat v3?

[2014-12-13 11:01] #43 closed, assigned to nobody

[2015-01-16 09:45] inanzzz opened #47 "Using @string@ in JSON response"
Hi,

Since `batch1064` always differs I would like to replace it with `@string@` but when I do that tests still fail.

I'm using Symfony2 and have run `composer require --dev "coduo/php-matcher"` and all went fine. Apart from replacing `batch1064` with `@string@`, what else should I do? E.g. I'm seeing two lines below as standard but where do I put them? Somewhere in FeatureContext.php, maybe?

`@

[2015-01-16 11:18] inanzzz opened #48 "Unexpected error - (does not match)"
I don't understand why I'm getting error below for the code. Anyone reason?

Composer has `"coduo/php-matcher": "~1.1"` package.

It passes when I remove `@string@` but what's the point!

***CODE***
[code]

***ERROR***
[code]

[2015-01-16 12:42] #48 closed

[2015-01-16 12:42] #47 closed

[2015-01-24 18:24] javierseixas commented on #47
I think you should use the `TextMatcher` for that case. You'll need to implement php-matcher into Behat. Take a look into this repository: https://github.com/jakzal/RestExtension to get an example. Sorry I cannot give a deep explanation right now. I'll try to do it soon.

[2015-01-26 21:23] inanzzz commented on #47
Thanks for the info. I decided to use Behat's native placeholder option so it's fine now.

[2015-01-26 21:39] norzechowicz commented on #47
This is why I dont like behat extensions that adds "universal" steps.
Anyway you can just simply create a step in your feature:
```Then json response should match:```

which should alllow you to generate following method in your Context class.

[code]

P.S. sorry for my late response

[2015-01-27 21:54] inanzzz commented on #47
@norzechowicz - I'll take a note of your example too along with matcher option for future references so thank you for the response.

[2015-05-05 15:27] yosmanyga opened #52 "Support more characters on TextMatcher"
It would be nice to allow more characters on text matcher. Currently is not possible to match as string a text with characters with accents.

[2015-05-06 07:35] norzechowicz commented on #52
Hello @yosmanyga. Could you please provide us an example of text and pattern You would like to match?

[2015-05-07 21:30] yosmanyga commented on #52
`Subscripción`, to match as `@string@`.

[2015-06-20 13:59] Igreh opened #53 ""OR" operator"
It will be very useful to have simple "OR" operator.
Ex: check whether value is string or null @string@||@null@ or @string@.or(@null@)
Is there any way to implement it?

And yes, I know I can extend expression language and add my own functions but native implementation is more descriptive, imho

[2015-06-20 15:00] norzechowicz commented on #53
``@string@||@null@`` would be awesome, just need to find some time to implement it :P

[2015-07-14 07:05] norzechowicz commented on #52
Sorry for very late response but I was quite busy in last few months.
I just checked your case and it works for me. Could you please provide full example of pattern and data u are trying to match?

[2015-08-07 07:27] #52 closed

[2015-10-19 16:00] hamuhamu opened #56 "I want "ExpressionMatcher" to return the exception"
I'm not good at much English.

Time it took to resolve the "ExpressionMatcher" of use.
It was a small thing.

[code]

I want you to return an exception for typing error.

[2015-12-02 11:06] ktzouno opened #58 "Array format with trailing comma weird behavior"
Hello,

I noticed a weird behavior when the matching pattern contains an array with a trailing comma after the final element as seen in the example and it's output below.

I'd expect the trailing comma to be ignored in the "First" test below and not throw an error.
But take a look at the "Second" test, where the error is incorrectly about the @null@ formatter.

[code]

Output:
First: "{"ids": [1,

[2015-12-02 11:13] norzechowicz commented on #58
First test is failing becaus trailing comma after final element makes this pattern invalid JSON, so json matcher is skipped. Not sure why you expect matcher to fix pattern before matching.
About second test I agree that error message is non descriptive. I gonna take a look at it as soon as possible.

[2015-12-02 11:32] ktzouno commented on #58
I agree it's invalid JSON. It took me quite some time to isolate this issue from a big pattern. Do you think it's easy to display a more descriptive error when JSON validation fails?

[2015-12-02 11:51] norzechowicz commented on #58
To be honest I have no idea, need to look into the code to figure that out, I gonna let you know.

[2016-01-24 21:13] #56 closed

[2016-01-25 16:57] norzechowicz opened #66 "2.0.0 Release cycle"
Version ``2.0.0-alpha1`` was just released. From now on, every monday I will release next version in order to finish with stable release ``2.0.0``

- [x] ``2.0.0-alpha1`` - 25.01.2016
- [x] ``2.0.0-alpha2`` - (will be skipped in case of no changes) - 01.02.2015
- [x] ``2.0.0-beta`` - 08.02.2016 (beta1 and beta2 are merged to beta)
- [x] ``2.0.0-rc``  - 15.02.2016
- [x] ``2.0.0-rc1``  - 03.03.2016

[2016-01-25 17:01] norzechowicz commented on #66
Version ``2.0.0-alpha1`` was release today, if you are using php-matcher in your project, please try to update dependencies and let me know if case on any problemts. Thanks!

[2016-01-27 17:11] eXtreme commented on #66
It would be cool to bump `phpunit` dependency version to allow 5.x (now `^4.8` is required).

[2016-02-01 15:55] norzechowicz commented on #66
Version ``2.0.0-alpha2`` was release today, if you are using php-matcher in your project, please try to update dependencies and let me know if case on any problemts. Thanks!

[2016-02-08 15:29] norzechowicz commented on #66
Version ``2.0.0-beta`` (beta1 and beta2 are merged into one release, beta) was release today, if you are using php-matcher in your project, please try to update dependencies and let me know if case on any problemts. Thanks!

[2016-02-23 09:56] norzechowicz opened #71 "Null value matching problem"
Following pattern:

[code]

does not match value

[code]

but when using ``@wildcard@`` or ``@null@`` instead of ``null`` in patter it works. This issue needs to be solved before 2.0.0 release described here #66

Tested with version ``2.0.0-rc``

[2016-02-25 10:57] ktzouno opened #72 "Allow Unbounded Array pattern @...@ to match none or more array elements"
In the following example the users array should have at least 2 elements for the "@...@" to work currently. How about it works with only one element?

[code]

[2016-03-02 10:19] blazarecki commented on #71
Any new for this issue ?

[2016-03-02 10:36] norzechowicz commented on #71
No, feel free to take a closer look on it.

[2016-03-02 10:43] blazarecki commented on #71
Good, I'll look tonight.

[2016-03-03 16:18] norzechowicz commented on #66
Because of #71 I had to add extra pre release ``2.0.0-rc1``. Please update your projects and let me know if case of any problems.
``2.0.0`` stable release is now planned for 07.03.2016

[2016-03-03 18:16] blazarecki commented on #71
I think we have to reopen the issue.

I test the **rc1** on a private project and I have errors. `There is no element under path [mainImage] in pattern.`

I think I find a solution, I'll create a PR tonight if possible.

[2016-03-09 19:22] lchrusciel commented on #66
Do you know, when you will be able to release stable version?

[2016-03-09 20:15] norzechowicz commented on #66
@lchrusciel can you help help with #71 ?

[2016-03-09 20:58] lchrusciel commented on #66
I will try to figure something out. Didn't notice that issue.

[2016-03-09 21:04] norzechowicz commented on #66
cool, thanks!

[2016-03-14 20:45] partikus commented on #53
@norzechowicz please look at #74

[2016-03-14 21:16] norzechowicz commented on #53
@partikus I have seen that (awesome work!) but I would like first to solve #71. I'm not sure if #74 wont complicate #71 even more.

[2016-03-14 23:14] norzechowicz commented on #71
@blazarecki can you give us more details about your failing example? I tried to reproduce that issue, no luck so far

[2016-03-17 20:20] norzechowicz commented on #71
Problem solved, thanks @partikus

[2016-03-17 20:20] #71 closed

[2016-03-18 09:33] norzechowicz commented on #66
Thanks to @partikus we finally solved #71 issue. Also OR operator was added ``@string@||@null``, please update your project dependnecies to ``2.0.0-rc2`` and let me in case of any problems, thanks!

[2016-03-26 11:30] norzechowicz commented on #53
Solved by #74

[2016-03-26 11:30] #53 closed

[2016-03-26 11:38] norzechowicz commented on #66
Finally we did it! Thanks @partikus @blazarecki and everybody else for help with release `2.0.0` :sparkles:

[2016-03-26 11:38] #66 closed

[2016-04-27 13:38] paullla commented on #48
@BentCoder Did you manage to find the problem?

[2016-06-16 15:42] jkobus commented on #72
:+1:

[2016-07-19 12:51] gitis commented on #35
+1

[2016-07-19 14:00] sorpion commented on #35
+1

[2016-07-19 14:01] ZilKil commented on #35
+1

[2016-07-19 14:04] tompoc commented on #35
+1

[2016-07-19 14:07] norzechowicz commented on #35
@gitis @sorpion @ZilKil @tompoc I think we all agree that this feature would be extremely useful, any of you is more than welcome to create a pull request. Unfortunately I simply don't have time to do it on my own, but don't hesitate to ask for any help you need.

[2016-07-21 20:37] mccrodp opened #80 "How to use pattern extenders in behat"
I am quite confused how to do anything dynamic with JSON at the moment. I've looked at the docs and issue queue but I'm running into limitations.

I want to test for the following where the `result` items can be infinite:

[code]

I want to do something like so in Behat feature code:

[code]

I get the error for most extenders:

How do we do the following in Behat using this library? https://githu

[2016-07-21 21:02] norzechowicz commented on #80
Yea this error message might be confusing :/ Root of the problem is that "repeat" pattern does not exist so actually its not possible to use it.

[2016-07-21 21:23] mccrodp commented on #80
Hi,thanks for the fast response.

Ok. It's more of an ideal method, but is there any other approach using wildcard or similar to match unlimited number for elements as I refer to above?

I've tried a few solutions incl trays which also give the same error. I don't know how to use the pattern extenders in this context in general either and havent seen it used in this way yet in docs or issues / cod

[2016-07-22 05:28] mccrodp commented on #80
I'm sure there's a better way in the Behat / PHP world (with PHPMatcher). My work around for the moment is the change the test to test only on a specific element:

[code]

and PHP:

[code]

Not ideal, so just checking if there was a better documented / undocumented way with PHPMatcher.

[2016-07-22 06:02] norzechowicz commented on #80
Unfortunately this is the only solution that I know for now. `repeat` or matcher expander for array would be extremely useful for that case, if you have some free time, help is more than welcome :)

[2016-07-22 06:33] mccrodp commented on #80
Thanks again. Unfortunate but good to know I'm not missing something obvious, haha.

I'd love to help, I'll suggest it in work and see if I can get some time on it. I imagine it's pretty involved though and I've some other open source work in the queue before it ;) I'll update here either way.

[2016-07-22 14:18] Nek- opened #81 "Support of CSV"
Hello,

I'm not sure it's realistic but well, I think it's something missing with this lib so here is the issue.

If I have serveral minutes, gonna try to make it !

[2016-07-29 11:56] lasotaartur opened #82 "Null not work correctly"
I have problem with comparing null value

This works
[code]

But this not works
[code]

When I use @null@ it works
[code]

I think that second example should works too.

[2016-08-06 08:57] lasotaartur commented on #82
Can someone help me?

[2016-08-15 12:39] robinvdvleuten opened #83 "The JSON matcher does not seem to be working with regexes."
Hi there,

Currently I try to match the following pattern:

[code]

But somehow the matcher does not detect the regex correctly.

[2016-08-15 15:07] #80 closed

[2016-08-15 15:09] norzechowicz commented on #83
Could you also show us what exactlty are you trying to match with this pattern? Do you have any error or maybe its only not matching?

[2016-08-16 12:32] robinvdvleuten commented on #83
It's not matching at all, in this case but also in a more simple regex;

[code]

[2016-08-16 14:13] norzechowicz commented on #83
Could you please share both, pattern & value?
https://github.com/coduo/php-matcher/blob/master/tests/MatcherTest.php#L249-L250 this test proves that regex expander works. Maybe there is something wrong with your regex or value?

[2016-09-26 14:13] nomysz opened #87 "Matching sub-json"
When trying to match `{'id': 1, 'name': 'name1'}` to array of json objects there is no match.

[code]

I think that comparison should result with match.

[2016-10-17 19:25] jmfeurprier opened #88 "Add matchers for UUIDs and IRIs"
In a few projects where there is behat testing, we have to add matchers for [UUIDs](https://en.wikipedia.org/wiki/Universally_unique_identifier) and [IRIs](https://en.wikipedia.org/wiki/Internationalized_Resource_Identifier).

This could be an addition which could benefit users of this package.

[2016-10-18 06:17] norzechowicz commented on #88
Agree, I also had a few use cases for UUID already. Feel free to open pull request 👍

[2016-10-20 03:16] jmfeurprier commented on #88
Just created Pull Request #89 for UUID support, will look into IRIs at some point.

[2016-10-20 14:43] norzechowicz commented on #88
UUID matcher was added, IRIs is still waiting for PR

[2016-10-20 20:31] #82 closed

[2016-10-20 20:37] norberttech opened #90 "JSON matcher is not working as expected with pattern expanders"
In project I'm currently working on, we had a following scenario step:

[code]

and it was throwing me a very weird error: `Type pattern "@array@" is not supported by TextMatcher. (RuntimeException)`.
After investigation it turned out that `php-matcher/src/Matcher/Pattern/Assert/Json.php:33` can't recognize this pattern as a valid json value (because of `@array@.count(1)`) and thats why JSONExpand

[2016-10-20 20:38] norzechowicz commented on #83
@robinvdvleuten it turns out that this problem is related to JSONMatcher, not regex expander itself. I'm closing this issue since I described everything here https://github.com/coduo/php-matcher/issues/90

[2016-10-20 20:38] #83 closed

[2016-10-20 20:38] #58 closed

[2016-10-20 20:39] norzechowicz commented on #32
Closing since I never faced a use case that would require such mechanism

[2016-10-20 20:39] #32 closed

[2016-12-02 16:45] steffenbrem opened #92 "Use matchers for keys instead of values"
Hi,

Thanks for your work on this package, it's really nice!

In my test cases I am in need to use matchers for keys too, I saw this is currently not possible. In my case the key is an ID which is different in every test run. So I just want to test it like this:

[code]

Would something like this be a good feature to have in this library?

[2016-12-22 09:15] SergeC opened #93 "Optional JSON fields"
Is any way to mark a field as optional?

[2017-01-06 02:42] arlydemo opened #94 "Composer install problem"
@norzechowicz
The lib will lead to the problem when run composer. The error below
`You must set up the project dependencies, run the following commands: curl -s http://getcomposer.org/installer | php php composer.phar install `

[2017-01-06 02:48] #94 closed

[2017-03-01 11:34] hpatoio opened #95 "Add @include"
I know that this package is about `matching` but would be nice to have something like `@include 'url'` to be able reuse part of my json.

Do you think it will be implemented ? Or maybe you can point me out how to do it

[2017-03-01 12:26] norzechowicz commented on #95
I see the benefits, however I don't see a way how to implement it into other matchers than json/xml matchers : /

[2017-03-01 14:37] #95 closed

[2017-03-01 14:38] norzechowicz commented on #93
@SergeC could you give some examples where optional "field" makes sense?

[2017-03-01 14:39] norzechowicz commented on #92
@steffenbrem could you provide some real use cases for this feature?

[2017-03-01 14:58] steffenbrem commented on #92
@norzechowicz Sure! I should have included it with the post, but here it is:

So I have a product where you can store multiple pricing configurations. For example you can configure a different price for a specific group this way:
[code]

This use-case is what my initial issue was about. The key can be dynamic and I cannot know the ID beforehand, since it is different every time I run the tests. If

[2017-03-01 15:23] norzechowicz commented on #92
Yea, make sense. Right now we are using wildcard values in array matcher (json/xml but they inherit everything from array), but wildcard keys sounds even easier to implement since key can be only a string. Do you think you are able to create a pull request with this feature?

[2017-03-01 19:42] SergeC commented on #93
Here is our use case. We're using JMS serializer http://jmsyst.com/libs/serializer http://jmsyst.com/bundles/JMSSerializerBundle . If an object that is serializing has a field with value "null" it automatically removes it from result JSON. That's why we need to tell php-matcher that certain fields are optional and it shouldn't trigger an error if it does not exist while if it exists it should matc

[2017-03-01 20:05] norzechowicz commented on #93
That make perfect sense, so something similar to `"fieldName":@optional@` would be nice to have? Can you create a pull request with that feature?

[2017-03-02 20:33] SergeC commented on #93
I would suggest use "@integer@.optional()". Because if an optional field is present it must match given pattern (@integer@).

I'll try on next weekend Mar 10-11.

[2017-03-25 07:16] trongdung258 commented on #93
I need this feature for my project. Hope you update this feature as soon as possible. Thank you!

[2017-03-25 09:26] norzechowicz commented on #93
@trongdung258 if you need this feature asap you need to prepare it on your own and send PR, I promise you to review it and merge as soon as possible.

[2017-03-25 09:54] trongdung258 commented on #93
I'll try and send pull request asap.I think this problem should be resolve.

[2017-03-27 22:00] craig-davis opened #96 "PHPUnit 6 Support"
Is there currently a plan in place to update the PHPUnit assertions to use the new namespaces in PHPUnit 6?

[2017-04-19 08:24] Gamesh commented on #72
@ktzouno made a PR for that, check it out.
@jkobus i thinks that should be raised as a separate issue.

[2017-07-07 10:25] ThePixelDeveloper commented on #96
While we wait, the following is enough to get it working. Place it in your autoload file.

[code]

[2017-07-07 11:42] norzechowicz commented on #96
Feel free to send a PR, but because that would be a BC breake it can be released with 3.0.0 tag

[2017-07-20 09:39] #96 closed

[2017-07-27 22:45] teklakct commented on #93
@SergeC, @trongdung258 I've made some changes in #102. I assume that should resolve your cases

[2017-08-02 17:27] #93 closed

[2017-08-04 10:35] thangman22 opened #103 "How I can do notcontains"
I want to do @string@.contains('foo').notContains('bar') It is possible to do that?

[2017-08-12 19:11] norzechowicz commented on #103
Hey @thangman22 currently it's not possible. We don't have `notContains` pattern expander, feel free to open a pull request if you need that feature

[2017-08-28 00:09] andylibrian opened #106 "Releasing "Optional" Json Fields in 2.x"
Can we release "optional" json fields in 2.x version? Maybe 2.3?
Apparently, it's not yet using php7 syntax.

Ref:
- https://github.com/coduo/php-matcher/issues/93
- https://github.com/coduo/php-matcher/pull/102
- https://github.com/coduo/php-matcher/commit/8cfa24bb381dc85771992000c448fc384ed5539a

[2017-09-02 08:30] norzechowicz commented on #106
Here you go: https://github.com/coduo/php-matcher/pull/107

[2017-09-02 23:41] andylibrian commented on #106
Awesome, thanks. Looking forward to merging and releasing.

[2017-09-04 10:05] norzechowicz commented on #106
https://github.com/coduo/php-matcher/releases/tag/2.3.0

[2017-09-04 10:05] #106 closed

[2017-09-12 08:26] Mateuszry opened #108 "Version 2.3 is not compatible with php 5.3.0"
https://github.com/coduo/php-matcher/blob/79a27d13e0edc699ede6e64bcfee1e9bb5498793/src/Parser/ExpanderInitializer.php#L19-L33

The following code is not compatible with php version 5.3, because ::class is available in PHP 5.5.0

Execute this code in lower PHP versions gives the following error:

[2017-09-12 10:38] norzechowicz commented on #108
good catch, I forgot to update php version from >=5.3 into >=5.6, thanks!

[2017-09-29 12:13] JarJak opened #111 "Feature request: Assume array contains X elements"
Proposal:
`@array@.count(5)` or `@array@.length(5)`, `@string@.length(5)`

[2017-09-29 12:28] teklakct commented on #111
Can you provide some example use case where you want to use it?
I can't imagine in what case it could be useful.

Please consider that:

-  `@string@.length(5)` -> you can use a regexp pattern to check this
- `@array@.count(5)/length(5)` -> `$matcher->match(count($responseArray), 5);`

[2017-09-29 14:45] JarJak commented on #111
How can I use `$matcher->match(count($responseArray), 5)` in behat tests?

[2017-09-29 15:43] teklakct commented on #111
It doesn't matter where you use matcher. It could be a Behat feature context, PHPUnit test or your domain code.

You can decode JSON to array and  check if a specific value contains X elements. But I understand that you want to do easily match using this notation in JSON/XML pattern matcher.

It sounds good but I can't imagine when you must know how much items is in array. In most cases we only ne

[2017-10-23 08:42] JarJak commented on #111
Simplest example would be if I want to test if limiting number of results in response works.

[2017-10-23 14:38] teklakct commented on #111
@norzechowicz what do you think about that?

[2017-10-24 19:06] norzechowicz commented on #111
Hmm but we already have [CountExpander](https://github.com/coduo/php-matcher/blob/master/src/Matcher/Pattern/Expander/Count.php) 🤔

[2017-11-08 10:53] Canadadry opened #112 "@uuid@ not working as @integer@"
Hi,

I am validating url containing id as integer, and I used to do it like this (the following code print `match`.

[code]

I am switching to UUID and the same test case is not working. The following code print `Type pattern "@uuid@" is not supported by TextMatcher.`:

[code]

[2017-11-08 11:24] Canadadry commented on #112
After further investigation it seems that you have forget to add uuid in the RegexConverter.

I have just add this in the switch case

[code]

And now it is working as expected.

[2017-11-30 11:44] JarJak commented on #111
@norzechowicz how can I use CountExpander with JSON pattern matcher?

[2017-11-30 16:33] Canadadry opened #116 "Cannot mock Matcher"
I need to mock the main Matcher class which is marked as final.

In order to do it I have made a fork and create an interface for matcher.

[2017-12-07 09:28] teklakct commented on #116
`Matcher` class is marked as `final` for a reason. It is so simple that you **should** use it. I suggest you to check your code and **ensure** is everything is ok. In most cases your design is broken

[2017-12-07 10:38] Canadadry commented on #116
Because I am building code arround the matcher and I need to test what happend when matcher failed or succeded. I could write some fake data but that sould not concerne my test. And your code is used as a service and therefore could be mock.
Anyway, I have forked it because `@uuid@` is missing some implementation. So I also use it to allow mocking.

[2017-12-07 12:12] norzechowicz commented on #116
I think in this case we can remove final statement from Matcher

[2017-12-07 14:11] teklakct commented on #116
Still not sure is that a good way to use it. I use `Matcher` like `if` construct in order to check some more complex conditions.
IMO you don't need to mock `Matcher` but create some abstraction for it. You can create your own `Matcher` interface and mock it. Next create class which implements your interface and extends a coduo `Matcher`

BTW. Adding uuid pattern for `RegexConverter` looks interest

[2017-12-07 20:26] Canadadry commented on #116
Yes it work too. It seems to me like adding another layer of abstraction only for mocking. Not very fan of this solution, but it does not require to fork the all project, which is a plus.
I might go fir this solution if you add uuid pattern to RegexConverter.

I use this pattern in unit test of api with hateos implementation. Wich has a lot a autoreferencing link, with obviously a lot of uuid.

[2017-12-07 20:45] teklakct commented on #116
@norzechowicz would you remove final statement from Matcher?

[2017-12-07 21:03] norzechowicz commented on #116
I’m not sure, this final statement is so meaningless and creatig abstraction just to mock Matcher, sounds a bit like overengeneerig something simple. I would say, lets remove it

[2017-12-07 22:32] Canadadry commented on #116
Before you anything, The removing the final statement is not enough to allow mocking, I had to do some other minor fix. You can have a lot at what I have on my fork. (From memory I gave also hadded an interface had make the factory return the interface)

For the exact use case here how Create my mock.
[code]

Also one last thing, I have written the first version of this mock of your service montg

[2017-12-19 15:32] athos7933 opened #118 "[UUID] Uuid inside string doesn't work"
In the next string case the @uuid@ pattern is not supported

[code]

If change the 2 constants in the `UuidMatcher ` it works like expected.
[code]

[2018-01-24 14:57] adiq opened #120 "New release for providing Symfony 4 support"
It would be great to release new version of php-matcher to provide Symfony 4 support.

[2018-01-31 13:02] SpartakusMd commented on #120
Hello @adiq. Do you encounter any issue using it on Symfony 4 as I don't see why someone couln't use it on it.

[2018-01-31 14:01] norzechowicz commented on #120
@SpartakusMd I think it's because dependencies in version 2.3 https://github.com/coduo/php-matcher/blob/2.3.0/composer.json as you can see it's a bit different than at master branch where symfony 4.x was added.
I will draft new release soon, for now you can always use master branch - I'm not going to merge any BC breaks to the master anyway, only new features.

[2018-02-04 22:18] norzechowicz commented on #120
https://github.com/coduo/php-matcher/releases/tag/3.0.0 here you go

[2018-02-04 22:18] #120 closed

[2018-02-04 22:19] #116 closed

[2018-02-14 02:05] tallsam opened #121 "v2.3.1?"
Any chance we could get a 2.3.1 version which includes the repeat expander? As much as I would love to be on PHP7 we are stuck on 5.6, and I'd like to be using a non-dev version of the library.

[2018-02-18 21:51] norzechowicz commented on #121
https://github.com/coduo/php-matcher/releases/tag/2.4.0

[2018-02-18 21:51] #121 closed

[2018-03-07 13:37] emodric opened #124 "Fatal error on version 3.0: Argument 1 passed to Parser::unexpectedSyntaxError() must be of the type array, null given"
Hi, I'm using PHP Matcher 3.0 on PHP 7.2.

The following script:

[code]

results in the following exception:

[code]

With PHP Matcher 2.4 works as expected, returning `false`.

[2018-03-07 13:51] emodric commented on #124
`git bisect` says that this is the culprit: https://github.com/coduo/php-matcher/pull/104

Indeed, rolling back to a commit before that PR makes everything work again.

However, it may be possible that introducing type hints to `Coduo\PHPMatcher\Parser::unexpectedSyntaxError` revealed a deeper issue somewhere else in the code.

[2018-03-07 14:46] emodric commented on #124
Seems that it's already fixed by #119.

@norzechowicz Can we get a 3.0.1 tag with the fix? :)

[2018-03-07 15:05] norzechowicz commented on #124
@emodric sure, I will first need to cherry pick #119 to 3.0 branch and then I can tag 3.0.1.
I will do my best to make it available asap

[2018-03-07 15:20] emodric commented on #124
Thank you @norzechowicz! :beers:

[2018-03-08 16:18] norzechowicz commented on #124
https://github.com/coduo/php-matcher/releases/tag/3.0.1 here you go, please let me know if it works now!

[2018-03-08 16:18] #124 closed

[2018-03-09 08:16] emodric commented on #124
Thanks @norzechowicz, it works fine :tada:

[2018-04-26 09:05] thomasbisignani commented on #112
IMO this issue is solved with this PR #130 and can be closed.
What do you think @norzechowicz ?

[2018-04-26 09:17] #112 closed

[2018-07-12 10:28] Kleinast opened #133 "nullable subjson"
Hi,

Is there a way to match that json property can be an object matching my matcher AND can also be null:

[code]

But my image object can be null like this:

[code]

Thanks for your help

[2018-07-17 11:39] umpirsky opened #134 "Update openlss/lib-array2xml to ^0.5"

[2018-10-09 19:10] thomasbisignani opened #136 "The ArrayMatcher does not match inside an existing string"
Hello,

The `ArrayMatcher` does not match inside an existing string.
Examples with this following code :
[code]
**This pattern works** :
[code]
**Result**:
`Matched.`

**This pattern does not work** :
[code]
**Result**:
`"http://foo.com/bar" does not match "http://foo.com/@string@".`

[2018-10-11 14:35] norzechowicz commented on #136
`http://foo.com/bar` should match `@string@.startsWith("http://foo.com/")`

[2018-10-12 12:03] norzechowicz commented on #136
Agree, feel free to open PR! 🍻

[2018-12-31 12:18] Canadadry opened #139 "Allow Date comparaison"
Hello,

I've been in the need of testing timestamp of token, if it was prior or after a certain datetime. I've looked at how symfomy constraint allow to validate date.

They let us use two main objects :

- One type validator => [https://symfony.com/doc/current/reference/constraints/DateTime.html](url) something we already have with `"@string@.isDateTime()"`
- Severals "Comparaison constraint" we

[2019-01-03 13:53] norzechowicz commented on #139
closed by #141

[2019-01-03 13:53] #139 closed

[2019-01-07 16:37] bendavies opened #142 "Issue with TextMatcher registration."
Hey there,

Think I've encounter an issue with the default matcher chain where this doesn't work:

[code]

This should work if i'm not missing something obvious!
I can't see exactly how to fix it, sorry.
Cheers!

[2019-01-15 20:48] JarJak commented on #111
@norzechowicz ok now I have found issue #90 so I have to use `"@array@.count(5)"` instead of `@array@.count(5)` to bypass the bug

[2019-01-24 13:21] jakubiak opened #144 "ArrayMatcher does't work well with empty arrays"
I found that
`$this->matcher->match([],["key"=>[]])`
returns **true** but should return **false**

[2019-02-08 14:42] JarJak commented on #144
Bug confirmed, thanks for reporting @jakubiak !

[2019-02-19 16:50] MichaelKubovic opened #147 "Packagist not auto-updated"
Hey, would be nice if you could setup git hook to let packagist know whenever you release a new version. Currently 3.1.2 is not listed on packagist despite it's been relased on github 11 days ago.

More info can be found on https://packagist.org/about

Thanks!

[2019-02-19 19:29] norzechowicz commented on #147
Right, it was using legacy hooks, should be fine now!
![image](https://user-images.githubusercontent.com/1921950/53041741-0a52bd00-3485-11e9-8941-7cf52bb84d84.png)
Thanks for heads up!

[2019-02-19 19:29] #147 closed

[2019-04-18 21:23] JarJak opened #150 "Can't make array Repeat expander working in JSON context"
Or maybe I am using it wrong way?

First I've tried:
[code]
Which gives confusing error: `RuntimeException: Type pattern "@array@" is not supported by TextMatcher.`

Then I've tried:
[code]
But that one also gives an error:
[code]
Repeat matcher expects argument to be json encoded string but ExpanderInitializer gives to it already decoded json array. It can be fixed by allowing Repeat expander to

[2019-04-26 12:35] #150 closed

[2019-06-07 16:11] smilesrg commented on #90
+1

[2019-06-10 15:03] imbpp123 opened #154 "Lib is not compatible with PHP 7.3"
Lib is not compatible with PHP 7.3

[code]

[code]

[code]

parent in __construct does not work

[code]

[2019-06-10 15:03] imbpp123 commented on #154
[code]

[2019-06-10 15:39] norzechowicz commented on #154
Hey @imbpp123 thanks for reporting this, feel free to open a pull request with required fix.

It also looks that master branch is passing on php 7.3 at travis, https://travis-ci.org/coduo/php-matcher/builds/543486376 - any idea why?

[2019-06-23 13:55] Guuzen commented on #154
In my case this error appears when i update phpunit from 7.5.13 to 8.0.0 and i think this bug is related to BC break in phpunit.
Seems like it is fixed already in master branch https://github.com/coduo/php-matcher/pull/148

[2019-07-05 08:35] hpatoio opened #156 "Example code fail"
I've issue with the code in the example. I create this very simple script.

[code]
but I get : `Any matcher from chain can't match value "{"foo": "bar"}" to pattern "{"foo": "@string@"}"`

I'm using latest version of this library and version `7.3.7` of PHP

Can't understand where I go wrong.

[2019-07-10 10:47] norzechowicz commented on #156
hey @hpatoio I sorry to hear that this does not work for you, in fact this is another report about php matcher not working on php 7.3 when in the same time our testsuite is passing at travis https://travis-ci.org/coduo/php-matcher/jobs/556500337

Could you maybe list modules you have installed and make sure you have latest version of php-matcher? Does this problem also occurs at master branch?

[2019-07-12 14:56] Linkinou opened #157 "Array repeat expander not working"
Hello there,

I'm trying to understand how to work with array repeat expander.

I tried to match this :
[code]

with this :
[code]

but got this :

[code]

Am I missing something ?

I'm using PHP 7.1 and coduo/php-matcher 3.1

[2019-07-31 10:16] SSMellow opened #158 "Bug while comparing floats"
While comparing two arrays, and in both there is same float value, matcher does not match.
F.E. $payload1 = ['number' => 123.45, 'key' => 'random']
$payload2 = ['number' => 123.45, 'key' => 'random']

Error - "123.45" does not match "123.45". (Exception)

[2019-08-06 18:42] teklakct opened #160 "Allow to use array patterns in PHPMatcherConstraint"
`ArrayMatcher` allows using matcher pattern as both `string` and `array`. It is not understood that `PHPMatcherConstraint` allow **only** to use matcher patter as `string`.

[2019-08-07 19:25] teklakct commented on #158
I can't reproduce this. @SSMellow please provide a full working code example

[2019-08-07 19:40] teklakct commented on #157
First please start read errors ;)
"Type pattern "@array@" is not supported by TextMatcher." You're using a TextMatcher which obviously matches text, not arrays. For this what you need try to use JsonMatcher.
Note that the pattern should be wrapped in quotes.

[code]

[2019-08-07 20:04] #160 closed

[2019-08-07 20:04] norzechowicz commented on #160
Merged!

[2019-08-07 20:08] norzechowicz commented on #158
Closing since I wasn't able to reproduce it as well. @SSMellow please open a PR with failing tests case for this issue, then we will try to help you

[2019-08-07 20:08] #158 closed

[2019-08-07 20:08] norzechowicz commented on #156
I will reopen this is you will get back to me with some answers

[2019-08-07 20:08] #156 closed

[2019-08-07 20:09] #136 closed

[2019-08-07 20:10] #134 closed

[2019-08-07 20:10] #108 closed

[2019-08-07 20:10] norzechowicz commented on #154
Closing since it might have nothing to do with php-matcher

[2019-08-07 20:10] #154 closed

[2019-08-07 20:11] #157 closed

[2019-08-07 20:14] #72 closed

[2019-08-07 20:15] #111 closed

[2019-08-07 20:37] norzechowicz commented on #156
Actually I was able to understand and fix this issue thanks to @teklakct

[2019-08-08 09:02] Linkinou commented on #157
Thank you @teklakct
Actually I was using the SimpleFactory thinking that it will give me a JsonMatcher automatically (based on the given value).

So I guess I have to create a JsonMatcher like here ? https://github.com/coduo/php-matcher/blob/master/tests/Matcher/JsonMatcherTest.php#L19

[2019-08-08 15:13] Linkinou opened #165 "Invalid json with line breaks in array repeat expander"
Hey,
Not sure if it's a bug or I'm doing something wrong.

Given this json and using the JsonMatcher :
[code]
I got this error :
`Invalid given JSON of pattern. Unexpected control character found (Exception)`

But with this given json, it works :
[code]

The only thing I've changed is putting the array.repeat content on the same line.

Is that an expected behavior ?

[2019-08-11 07:23] #142 closed

[2019-08-11 07:24] norzechowicz commented on #142
fixed, thanks for reporting and sorry for long time without any response

[2019-08-11 10:05] norzechowicz commented on #165
Hey, your issue is not really php-matcher related. It's JSON that does not allow multiline strings.

[code]

This is valid json, ignore the fact that I replaced `"@array@"` with something else.

Now if you look at:

[code]

This is no longer valid json. You can test those examples here: https://jsonformatter.curiousconcept.com/

However JsonMatcher is already doing some manipulations on JSON's pat

[2019-08-11 10:46] norzechowicz commented on #133
Hey, sorry at this moment it's impossible. But I think it should be possible to create something like:

[code]

This would require to create `json` expander that could take any valid json pattern and compare it with value.

[2019-08-11 10:46] norzechowicz commented on #118
This was solved by #167

[2019-08-11 10:46] #118 closed

[2019-08-11 10:47] #87 closed

[2019-08-11 10:48] #35 closed

[2019-08-12 08:25] #103 closed

[2019-08-12 11:29] bendavies commented on #142
thanks!

[2019-08-13 07:13] Linkinou commented on #165
That's perfect, thank you @norzechowicz

[2019-08-13 08:20] #165 closed

[2019-08-15 11:19] norzechowicz commented on #133
Hey, I'm happy to let you know that after I merged #173 following code will work just like you expected:

[code]

Feel free to use `dev-master` version in order to test it or wait for 4.0 release (that is coming soon!)

[2019-08-15 11:20] #133 closed

[2019-08-15 22:42] Kleinast commented on #133
Awsome ! thx @norzechowicz

[2019-08-15 23:04] #39 closed

[2019-08-16 17:57] teklakct commented on #144
@norzechowicz I think it should be treated as a bug to v3. I suggest removing it from milestone 4.0.0

[2019-08-17 13:19] #144 closed

[2019-11-02 04:31] videni opened #181 "can we check key exisitence ?"
example

[code]

 I only want to check the exisitence  of the keys, formData, schema, uiSchema .

[2019-11-22 15:58] julienfalque opened #183 "JsonMatcher does not support JSON pattern including another pattern in the middle of a string value"
With the following pattern:
[code]
`JsonMatcher` will not match anything because its `canMatch()` method returns `false`.

This seems to be caused by `Json::transformPattern()` that changes the pattern to:
[code]
which is not valid JSON (notice the added quotes in the value).

[2019-11-22 16:01] norzechowicz commented on #183
Hmm, weird. I just checked your example using [Pattern Matcher Sandbox](https://pattern-matcher.azurewebsites.net/?form%5Bvalue%5D=%7B%0D%0A++++%22foo%22%3A+%22%2Ffoo%2Fbf5792af-60f2-4584-9166-d235ce75e240%2Fbar%22%0D%0A%7D&form%5Bpattern%5D=%7B%0D%0A++++%22foo%22%3A+%22%2Ffoo%2F%40uuid%40%2Fbar%22%0D%0A%7D&form%5Bmatch%5D=) and it seems to be working just fine? Which version of php-matcher you ar

[2019-11-22 16:07] julienfalque commented on #183
3.2.2.

[2019-11-22 16:18] norzechowicz commented on #183
It's exactly the same version that Pattern Matcher Sandbox is using, weird... Could you maybe open a pull request with a failing test for this scenario?

[2019-11-23 13:31] norzechowicz commented on #181
hey @videni indeed this one was still missing, I just added it in #185
it will be released in version 4.0 that is coming soon!

[2019-11-23 14:48] #181 closed

[2019-11-24 11:28] julienfalque commented on #183
See #187.

[2019-11-24 12:35] #183 closed

[2019-12-11 10:44] Linkinou opened #191 "More details with JsonMatcher"
Hello there,

using version 4.0 of coduo/php-matcher

Is there a way to get more details when JSON values do not match ?
Like the line that differ maybe ?

Because right now I have something like that :

[code]

Which is kind of difficult to debug.

Any suggestions ?

[2019-12-11 20:44] norzechowicz commented on #191
Hey, with the latest version of php-matcher you can review the backtrace that can be printed on demand.
You can check how it works on the demo page https://php-matcher.norbert.tech/

[2019-12-12 21:43] raing3 opened #192 "Unbounded object matching skips matching keys which are missing from the value"
Lets say I have the following value:
[code]

The following pattern from my interpretation of the documentation should fail but instead passes:
[code]

By comparison the following patterns do correctly fail:
[code]
[code]

I've verified this via https://php-matcher.norbert.tech/

Is this an issue or am I misinterpreting the purpose of unbounded validation?

Thanks for any guidance you can provide.

[2019-12-12 22:11] raing3 commented on #192
^ this PR seems to fix the issue I am having. Let me know if I've messed anything up.

[2019-12-14 15:18] #192 closed

[2020-01-08 09:30] julienfalque commented on #191
I am facing the same issue. Supposing this expected JSON:
[code]
if the actual value is
[code]

the error messages are:
- v3.2: `"baz" does not match "bar" pattern`
- v4.0: `Value {"foo":"baz"} does not match pattern {"foo":"bar"}`

The v4 is not useful as it just shows expected and actual values, without details about where the mismatch was. Newlines are also stripped out, so big values become un

[2020-01-23 10:59] julienfalque opened #194 "@...@ is greedy"
Currently the `@...@` pattern seems to be greedy, so if we use it in e.g. the beginning of an array, anything that comes after it in the pattern isn't actually validated.

For example:
[code]
If the last element of the `"foo"` array isn't `"some value"`, the pattern matches anyway.

This also applies to property values, for example:
[code]
the pattern still matches whatever the actual value of the

[2020-01-23 11:59] norberttech commented on #194
Hey, could you create an example of pattern and value that you mentioned above using https://php-matcher.norbert.tech and share the url to this example with us here?

[2020-01-23 13:07] julienfalque commented on #194
Yep: see [example 1](https://php-matcher.norbert.tech/?form%5Bvalue%5D=%7B%0D%0A++++%22foo%22%3A+%5B%0D%0A++++++++%22foo%22%2C%0D%0A++++++++%22not+bar%22%0D%0A++++%5D%0D%0A%7D&form%5Bpattern%5D=%7B%0D%0A++++%22foo%22%3A+%5B%0D%0A++++++++%22%40...%40%22%2C%0D%0A++++++++%22bar%22%0D%0A++++%5D%0D%0A%7D&form%5Bmatch%5D=) and [example 2](https://php-matcher.norbert.tech/?form%5Bvalue%5D=%7B%0D%0A++++%2

[2020-02-12 09:46] akondas opened #197 "PHPMatcherConstraint support for errors with html response"
**Problem:**
If you get a very long text in the compared string, it makes it very difficult to debug the console. For example using `PHPMatcherConstraint` with API tests, when response is html (500 response with symfony debug) you will be not able to read it from console:
[code]

**Proposal:**
Changes in `PHPMatcherConstraint` that will reduce long string and allow to display error more human frie

[2020-02-12 22:11] norberttech commented on #197
Yeah I also had this issue couple times but honestly I'm not sure how to create rules for cutting message, I know that I thought about comparing value length with pattern length and trim it only when there is a significant difference.
In that case, it would need to check the length of the pattern and trim value in error message to that double of that length.
I was also thinking about detecting HTM

[2020-02-19 07:54] grn-it opened #198 "An error if it does not match the pattern"
An error occurs while executing this code:
[code]

[code]

version:
[code]

**To fix this error, you need to fix this line of code**
vendor/coduo/php-matcher/src/PHPUnit/PHPMatcherConstraint.php::47
Before:
[code]
After:
[code]
Because the exporter() method does not exist

Thanks for the great library! :)

[2020-02-19 11:38] grn-it commented on #198
This problem appears in phpunit version 7.5.20
Method exporter() not exist in https://github.com/sebastianbergmann/phpunit/blob/7.5.20/src/Framework/Constraint/Constraint.php

But in phpunit 8.0 method has been added https://github.com/sebastianbergmann/phpunit/blob/8.0.0/src/Framework/Constraint/Constraint.php

[2020-03-05 15:38] TamasSzigeti opened #200 "Json::reformat edge case"
Encountered an interesting edge case with the latest version.

We are generating a hash with `uniqid()` and testing it as part of a json with
[code]

Now in certain string literals like `5e61188283825` when it goes through Json::reformat() it fails, as the json_decode returns float infinity – interprets it as an exponential number. And then json_encode returns false which doesn't satisfy the retur

[2020-03-05 15:57] norberttech commented on #200
Could you provide an example in sandbox https://php-matcher.norbert.tech/ so I can look into it?

[2020-03-05 15:58] TamasSzigeti commented on #200
https://php-matcher.norbert.tech/?form%5Bvalue%5D=%7B%22something%22%3A+%225e61188283825%22%7D&form%5Bpattern%5D=%7B%22something%22%3A+%22%40string%40%22%7D&form%5Bmatch%5D=

[2020-03-10 13:01] nnatter opened #201 "PHPMatcherConstraint outputs backtrace if assertion fails"
Hey,
we are using this library for asserting the content of JSON responses in our functional tests.  Apart from a few minor issues, this is working great. So thanks for your effort!

After updating from version 3 to version 4, the output of the `PHPMatcherConstraint` got a lot more verbose. It looks like the output includes a backtrace now, if an assertion fails. If more than one test fails, this

[2020-03-10 13:13] nnatter opened #202 "Diff of PHPMatcherConstraint ignores patterns"
Hey,
we are using this library for asserting the content of JSON responses in our functional tests. Apart from a few minor issues, this is working great. So thanks for your effort!

As we are using the library for testing API responses, we need to use a lot of value-patterns to match values such as autogenerated ids and timestamps. This works great as long as the response matches our response-patt

[2020-03-23 10:12] knyk opened #203 "UUID matcher throws error for NIL uuid"
for uuid `00000000-0000-0000-0000-000000000000` it is throwing an error

[2020-03-23 10:57] norberttech commented on #203
hmm because it's not valid uuid? Can you be more precise and tell me what kind of error and what is the behavior that you expect?

[2020-03-23 11:07] knyk commented on #203
it is valid uuid for sure. look at RFC https://tools.ietf.org/html/rfc4122#section-4.1.7

[2020-03-23 11:13] norberttech commented on #203
No, it's not valid uuid because you can't generate it - it's special type of uuid and I would like to understand the use case in which matcher should support if you expect from me to fix it.

[2020-03-23 11:20] knyk commented on #203
I really can't find the place in RFC where it is written that NIL uuid is not valid uuid to be honest.
The use case is It is very easy to use uuid just by using constant `Ramsey\Uuid::NIL`. You can use It for example in doctrine fixtures and then in easy cases You don't need to think and check what was the uuid i've used in that fixture - just use const from Ramsey

[2020-03-23 11:25] norberttech commented on #203
I would recommend you to not use NIL uuid and just generate one instead because like I said, it's not type of UUID that can be generated (you won't get it from any api).
However if you really need support for NIL uuid then feel free to open PR

[2020-03-23 11:33] knyk commented on #203
I'am using NILs for a long time for for testing purposes without any false positives and so on.
Trust me, there are many types of APIs, not all of them implements uuid the right way.

For now case is not crucial for me. Maybe later when I would have some free time

[2020-03-23 11:40] norberttech commented on #203
maybe but it's not a valid scenario that would make me to invest my private time to fix "bug" that affects only wrong usages of the UUID.
I'm closing this issue for now, feel free to open a PR whenever you find time, thanks!

[2020-03-23 11:40] #203 closed

[2020-05-07 05:35] sjuvonen commented on #198
@grn-it Assuming that you're running Symfony, you need to specify the correct PHPUnit version in phpunit.xml(.dist). By default Symfony will want to install PHPUnit 7.5.

[2020-07-18 08:29] norberttech commented on #201
@nnatter I'm sorry for a long time without proper response to this request. If you are still interested in it, I'm going to make backtrace optional since it also affects performance slightly.
It's going to be released in version 5.0

[2020-07-18 08:29] #198 closed

[2020-07-18 09:03] #88 closed

[2020-07-18 19:23] #201 closed

[2020-07-20 09:26] niklasnatter commented on #201
Hey, dont worry, we are all doing this for free 🙂  Thanks for your effort - looking forward to version 5!

[2020-09-27 08:50] #200 closed

[2020-09-27 08:51] norberttech commented on #200
Sorry for the long waiting time, it took me a while to find some time for php-matcher but it should be fine now.
This fix will be released in 5.0.0 version

[2020-09-27 09:14] TamasSzigeti commented on #200
Thank you!

[2020-09-27 09:15] norberttech commented on #200
I just released version 4.0.1 with this fix and update https://php-matcher.norbert.tech website to use the lastest version of php-matcher

[2020-10-08 12:48] maciej-sz opened #212 "Not able to match @null@||@array@"
The case is that I am matching optional array, which can be NULL.

A little modified example form `php-matcher.norbert.tech` ([link](https://php-matcher.norbert.tech/?form%5Bvalue%5D=%7B%0D%0A++%22users%22%3A+%5B%0D%0A++++%7B%0D%0A++++++%22firstName%22%3A+%22Norbert%22%2C%0D%0A++++++%22lastName%22%3A+%22Orzechowicz%22%2C%0D%0A++++++%22title%22%3A+%22Software+Architect%22%2C%0D%0A++++++%22created%2

[2020-10-09 13:32] #212 closed, assigned to nobody

[2020-10-09 13:34] norberttech commented on #212
This one was fixed by @mtomala and released:
https://github.com/coduo/php-matcher/releases/tag/5.0.1
https://github.com/coduo/php-matcher/releases/tag/4.0.2

Thanks again @mtomala !

[2020-10-09 14:04] niklasnatter commented on #202
Hey,
I just tested this again with `5.0.1` and it looks like the diff of the example above has not changed. Do I need to adjust some configuration? Or is it possible that this was closed by mistake? 🙂

Thanks in advance!

[2020-10-09 17:30] norberttech commented on #202
Hey, sorry, I accidentally closed wrong PR, #212 was the one I wanted to close.

[2020-10-21 13:29] bendavies commented on #191
@norberttech any way around this?
Here's a demo: https://php-matcher.norbert.tech/?form%5Bvalue%5D=%7B%0D%0A++%22users%22%3A+%5B%0D%0A++++%7B%0D%0A++++++%22firstName%22%3A+%22Norbert%22%2C%0D%0A++++++%22lastName%22%3A+%22Orzechowicz%22%2C%0D%0A++++++%22title%22%3A+%22Software+Architect%22%2C%0D%0A++++++%22created%22%3A+%222014-01-01%22%2C%0D%0A++++++%22roles%22%3A%5B%22ROLE_USER%22%2C+%22ROLE_DEVE

[2020-10-21 22:16] norberttech commented on #191
Hey
yeah, that's probably currently the biggest issue of phpmatcher. I don't have on my roadmap fixing this anytime soon, too many things are happening in other projects.
Now beside my daily paid work I’m 100% focused on releasing stable version of https://github.com/aeon-php/calendar
This library is havely used in projects I’m working on and stable release is my top priority for now.
Once I relea

[2020-10-21 22:21] bendavies commented on #191
Hey @norberttech.

No worries! I'm happy to take a look, and have tried, but can't work it out so far.
I can't work out where/why this behaviour changed between v3 and v4/5.

If you have any ideas to help me on my way I'd appreciate it!

Thanks.

[2020-10-22 06:19] norberttech commented on #191
Afaik that behavior changed to fix another nasty bug related to not precise error messages when other matchers failed but unfortunately it also affected JSON matches. I guess you might want to work on error message by extracting difference between pattern and value

[2020-10-22 10:02] bendavies commented on #191
the causes look to be a combination of:
1. https://github.com/coduo/php-matcher/pull/172
2. [The OrMatcher being moved to AFTER the JsonMatcher](https://github.com/coduo/php-matcher/pull/173/files#diff-f1fde4dc6cab4ebe70fef12eb80a87c4acf657b1c948ff620bbae7f2b8280dccR36), as the OrMatcher does not return any error (returns a null error) so an previous errors will be lost in favour of [the generic e

[2020-11-25 22:31] alexislefebvre opened #216 "Fix typo in project description"
A `n` is missing in `patters` in the description of the project:

[2020-11-26 09:26] norberttech commented on #216
Thanks @alexislefebvre good catch! It was fixed

[2020-11-26 09:26] #216 closed, assigned to nobody

[2020-12-08 11:56] arnolanglade opened #217 "Cannot use `match` as an identifier. It is a reserved keyword since PHP8.0"
I tried to upgrade a project to PHP 8.0 but I got this error:

[code]

We cannot use `match` as an identifier anymore because it is a reserved keyword since PHP 8.0. I don't know if there are other problems with a PHP 8.0 upgrade but this class can be easily renamed. What do you guys think?

[2020-12-08 12:03] jdreesen commented on #217
#215

[2020-12-08 12:50] #217 closed, assigned to nobody

[2020-12-16 08:44] arnolanglade commented on #217
:+1:

[2021-01-24 10:58] norberttech commented on #194
This is not a bug, `@...@` represents array unbounded pattern, meaning that matcher ignores anything after it including the value which is at the same position as unbounded pattern.

If you want to skip just certain elements use [@*@](https://php-matcher.norbert.tech/?form%5Bvalue%5D=%7B%0D%0A++++%22foo%22%3A+%5B%0D%0A++++++++%22foo%22%2C%0D%0A++++++++%22not+bar%22%0D%0A++++%5D%0D%0A%7D&form%5Bpat

[2021-01-24 10:58] #194 closed

[2021-01-26 15:19] julienfalque commented on #194
My use case was not to skip a certain element but to match a specific value at the end of an array, no matter what the array contains *before* that element. In the example in the first post above, the pattern would match
[code]
or
[code]
but not
[code]

[2021-01-26 18:02] norberttech commented on #194
matching the last element of array is not supported unless you are aware of the array size, for example, if you know that array has 5 elements and only want to match the last on you can use:
[code]

It's not the ideal solution but I don't see any better alternative for now.

The role of `@...@` is to skip all further elements from matching, meaning that if you put any other pattern after `@...@` i

[2021-02-22 10:52] norberttech opened #223 "Add @datetime@.iso8601() or @datetime@.isFormat('....') expanders"
Sometimes it's important to validate if datetime or date is in given format, this should be possible through dedicated Expanders similar to isAfter/isBefore

[2021-02-23 21:56] norberttech commented on #223
#224

[2021-02-23 21:56] #223 closed, assigned to nobody

[2021-02-25 20:13] norberttech commented on #191
so I think I finally fixed that problem in #225, latest version was deployed and [this is how it looks](https://php-matcher.norbert.tech/?form%5Bvalue%5D=%7B%0D%0A++%22users%22%3A+%5B%0D%0A++++%7B%0D%0A++++++%22firstName%22%3A+%22Norbert%22%2C%0D%0A++++++%22lastName%22%3A+%22Orzechowicz%22%2C%0D%0A++++++%22title%22%3A+%22Software+Architect%22%2C%0D%0A++++++%22created%22%3A+%222014-01-01%22%2C%0D%0

[2021-02-25 20:13] #191 closed

[2021-02-25 20:15] norberttech commented on #202
Hey, so now the diff definitely changed, version 6.0.2 brings totally new, more precise error messages, I'm closing this issue, if you are still using the library don't hesitate to leave some feedback, thanks!

[2021-02-25 20:15] #202 closed

[2021-02-26 07:54] niklasnatter commented on #202
Really like the new error messages! Thanks a lot for your work!

[2021-02-26 08:00] niklasnatter commented on #202
Just a small proposal - the output for the following test case looks like this at the moment:

[code]

[code]

The new error message is great, but it is hard to spot in the middle of the output. What do you think about adjusting the `PHPMatcherConstraint` class to omit the pattern from the first part of the error and output something like this:

[code]

Would you accept a pull request for this?

T

[2021-02-26 08:08] norberttech commented on #202
hey @nnatter it makes perfect sense now to remove the pattern from that message. I would be happy to merge a pull request with this change 🙌

[2021-03-01 11:43] niklasnatter commented on #202
Just created #226. Not sure if I adjusted the test cases correctly - feel free to add some comments 🙂

[2021-04-02 21:05] alexsegura opened #227 "Confusing error message"
Hi.

Thank you for making PHP Matcher 🙂

With a PHP Matcher expectation like this:

[code]

If `[violations][0][code]` is `null` null, PHP Matcher gives the following message

This is confusing, when seeing this you wonder why `"" !== ""` 🤔

---

Maybe it could be instead:

[2021-04-03 10:39] norberttech commented on #227
could you please create an example https://php-matcher.norbert.tech/ and share the URL here so I can replicate this issue?

[2021-04-03 13:28] alexsegura commented on #227
[Here it is](https://php-matcher.norbert.tech/?form%5Bvalue%5D=%7B%0D%0A++%22users%22%3A+%5B%0D%0A++++%7B%0D%0A++++++%22firstName%22%3A+%22%22%2C%0D%0A++++++%22lastName%22%3A+%22Orzechowicz%22%0D%0A++++%7D%0D%0A++%5D%0D%0A%7D&form%5Bpattern%5D=%7B%0D%0A++%22users%22%3A+%5B%0D%0A++++%7B%0D%0A++++++%22firstName%22%3A+null%2C%0D%0A++++++%22lastName%22%3A+%22%40string%40%22%0D%0A++++%7D%0D%0A++%5D%0D%

[2021-04-08 13:16] emodric commented on #203
Hi. This just bit me when matching some data in my JSON documents. We use a NIL UUID as a perfectly valid UUID which denotes a root of a tree of some data and PHP Matcher cannot work with it when using `@uuid@` matcher.

[2021-12-01 21:58] gabrielanhaia commented on #227
@alexsegura I was just wondering why haven't used `@null@` as in the documentation?

If you do so as for the other kind of validations, the error will be more clear: [LIKE HERE](https://php-matcher.norbert.tech/?form%5Bvalue%5D=%7B%0D%0A++%22users%22%3A+%5B%0D%0A++++%7B%0D%0A++++++%22firstName%22%3A+%22%22%2C%0D%0A++++++%22lastName%22%3A+%22Orzechowicz%22%0D%0A++++%7D%0D%0A++%5D%0D%0A%7D&form%5Bpa

[2022-01-03 22:54] wijourdil opened #296 "How does the `.inArray()` pattern expander work ?"
Hi,

I have an issue, I don't know how to use the `.inArray()` pattern expander.
Whatever I try, I get this error message :
[code]

I'm using the `assertMatchedPattern()` trait method, and the pattern I use is this :
(I try with an empty array, but I also tried with hardcoded array or "json-encoded" variables)
[code]

---

According to what I saw in the `InArray` expander class, I should have one

[2022-01-03 23:13] wijourdil commented on #296
I think I have understood my mistake.

Is this pattern expander supposed to check if a string is contained in a given array, or to check if an array contains a given string ?

[2022-01-04 08:39] norberttech commented on #296
Hey, yeah now when I look at it, inArray expander is not as self descriptive as I thought originally, I will adjust the documentation with proper example but in the meantime please find it here: [@array@.inArray() example](https://php-matcher.norbert.tech/?form%5Bvalue%5D=%7B%0D%0A++%22users%22%3A+%5B%0D%0A++++%7B%0D%0A++++++%22roles%22%3A%5B%22ROLE_USER%22%2C+%22ROLE_DEVELOPER%22%5D%0D%0A++++%7D%

[2022-01-06 13:48] norberttech commented on #296
I'm closing this one, in case of any more questions, feel free to open new issues. I also updated readme with an example of inArray

[2022-01-06 13:48] #296 closed, assigned to nobody

[2022-03-22 14:24] alexander-schranz opened #334 "Expecting null but give an array throws strange runtime error"
I have the following snapshot:

[code]

Which is testing the following json:

[code]

Example:
https://php-matcher.norbert.tech/?form%5Bvalue%5D=%7B%0D%0A++++%22availableLocales%22%3A+%5B%0D%0A++++++++%22en%22%0D%0A++++%5D%0D%0A%7D&form%5Bpattern%5D=%7B%0D%0A++++%22availableLocales%22%3A+null%0D%0A%7D&form%5Bmatch%5D=

It errors with Argument 4 is null instead of string at:

https://github.com/cod

[2022-03-25 06:32] norberttech commented on #334
hey @alexander-schranz thanks for reporting this bug!
https://github.com/coduo/php-matcher/pull/336 will fix it, expect a new patch release soon!

[2022-03-25 07:13] #334 closed, assigned to nobody

[2022-03-25 07:13] norberttech commented on #334
Version 6.0.8 was just released

[2022-03-25 08:26] #227 closed, assigned to nobody

[2022-03-26 12:43] alexander-schranz commented on #334
@norberttech Thank you!

[2022-05-04 09:02] alexander-schranz opened #352 "Make possible to use assertMatchesPattern in static methods"
Sometimes I get into cases where I want to use the `assertMatchesPattern` like other assertions in a static method.

Maybe the `assertMatchesPattern` could be changed from:

[code]

[code]

As it would be a bc break it could only be done in a new major release.

[2022-05-04 10:45] norberttech commented on #352
hey, could you share some more context about those use cases? Maybe some simple code examples if possible? (even very simplified)

[2022-05-04 11:39] alexander-schranz commented on #352
It  was something like this:

[code]

[code]

Sure it is possible to move things and not relay on static method here. But as all other assertions of PHPUnit are able to be used in static methods it would be nice to have possibility to use also assertMatchesPattern in static methods.

[2022-07-11 07:11] mesilov opened #374 "generate php-matcher checking rules from Open API swagger annotation"
Usecase: I build REST-API and generate documentation with an OA3 swagger file (JSON or yaml).
In this file I describe data structures with type hints

https://petstore.swagger.io/v2/swagger.json (example).

I need to check the data structures in my responses with documentation, now I have a choice:

1. add manually data structures with yours notation and use php-matcher
2. use https://github.com/t

[2022-10-14 13:12] Aerendir opened #409 "ValueError: array_fill(): Argument #2 ($count) must be greater than or equal to 0"
[code]

The problem is that it is not well handled the case of zero, one or more array elements to validate when using `@array_previous_repeat@`.

Maybe I'm configuring wrong the pattern, but, anyway, the error should be catch and a proper error message should be shown to the developer.

What I'm trying to do is to validate an array that can contain zero, one or more elements.

With the pattern I'

[2022-11-28 23:18] belene opened #419 "Use of mutation testing in php-matcher - Help needed"
Hello there!

My name is Ana. I noted that you use the mutation testing tool  in the project.
I am a postdoctoral researcher at the University of Seville (Spain), and my colleagues and I are studying how mutation testing tools are used in practice. With this aim in mind, we have analysed over 3,500 public GitHub repositories using mutation testing tools, including yours! This work has recently bee